<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method='POST' action="{{  url_for('addUser')  }}">
        <input type = "text" name = "username" placeholder="Username">
        <input type = "text" name = "password" placeholder="senha">


        <input type = "text" name = "topic_1" placeholder="Nome do Tópico"><br>
        <input type = "text" name = "complex_1" placeholder="Complexidade"><br>
        <input type = "text" name = "type_1" placeholder="Tipo do Tópico"><br><br>

        <input type = "text" name = "topic_2" placeholder="Nome do Tópico"><br>
        <input type = "text" name = "complexity_2" placeholder="Complexidade"><br>
        <input type = "text" name = "type_2" placeholder="Tipo do Tópico"><br>

        <input type = "submit" value="Enviar">
    </form>

</body>
</html>