<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{message}}
    <form method='POST' action="{{  url_for('addUser')  }}">
        <input type = "text" name = "username" placeholder="Username"><br>
        <input type = "text" name = "key" placeholder="Chave"><br><br>



        <input type = "text" name = "topic_1" placeholder="Nome do Tópico"><br>

        <input type = "text" name = "topic_2" placeholder="Nome do Tópico"><br><br>

        <input type = "text" name = "typeKnowledge" placeholder="Tipo do Tópico"><br>
        <input type = "text" name = "complexity" placeholder="Complexidade"><br><br>
        


        <input type = "submit" value="Enviar">

        <input type = "text" name = "login" placeholder="insira a chave"><br>


    </form>

</body>
</html>